<ion-header>
    <ion-toolbar *ngIf="user" mode="ios">
        <ion-title> {{user.name}} </ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="vet" mode="ios">
        <ion-title>
            {{vet.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="user">
    <ion-slides>
        <ion-slide *ngFor="let mascota of user.mascotas">
            <ion-item>
                <ion-row>
                    <ion-col size="10" offset="1">
                        <img [src]="mascota.url" [alt]="mascota.name">
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item>

            </ion-item>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-content padding *ngIf="vet">

</ion-content>