<ion-header>
    <ion-toolbar class="navbar" mode="ios">
    </ion-toolbar>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar>
                <ion-tab-button (click)="navegar('rastreo')">
                    <ion-icon name="locate"></ion-icon>
                    <ion-label>Ubicar</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="navegar('home')">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>Principal</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>